<div class="forgot-password">
    <a
    class="back-link"
    routerLink="/login"
    >
    <svg lucideArrowLeft></svg>
    Back to sign in
    </a>

    <h1>Forgot password?</h1>
    <p class="subtitle">
        Enter your email address and we'll send you instructions to reset your password.
    </p>

    <form
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="submit()"
    >
    <app-input
      formControlName="email"
      label="Email"
      type="email"
      placeholder="you@email.com"
      [autoFocus]=true
      [ngClass]="{ 'emailsent': !!emailSentMessage() }"
    />

    <app-button
      type="submit"
      style="margin-top: 10px;"
      [disabled]="forgotPasswordForm.invalid || isSubmitting() || !!emailSentMessage()"
    >
    @if (isSubmitting()) {
        <span class="spinner" aria-hidden="true"></span>
        <span>Sending reset link...</span>
      } @else {
        <span>Send reset link</span>
      }
    </app-button>
  </form>
    @if (emailSentMessage()) {
    <p class="subtitle">
      {{ emailSentMessage() }}
    </p>
  }

  <p class="footer">
    Remember your password?
    <a routerLink="/login">Sign in</a>
  </p>
</div>