<div class="login">
  <h1>Welcome back</h1>
  <p>
    Sign in to pick up where you left off.
  </p>

  <form>
    <div class="field">
      <label>Email</label>
      <input
        type="email"
        placeholder="you@email.com"
        [(ngModel)]="email"
        name="email">
    </div>

    <div class="field">
      <div class="field-header">
        <label>Password</label>
        <a href="#">
          Forgot?
        </a>
      </div>

      <div class="password-container">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          placeholder="••••••••"
          [(ngModel)]="password"
          name="password">
          @if (isPasswordValid) {
            <button
              type="button"
              class="password-toggle"
              (click)="togglePassword()">
              @if (!passwordVisible) {
                <svg lucideEye></svg>
              } @else {
                <svg lucideEyeClosed></svg>
              }
            </button>
          }
      </div>
    </div>

    <button [disabled]="!isFormValid">
      Sign in
    </button>
  </form>
</div>
