:root {
  --color-background: #15171c;

  --color-surface: #1a1d23;
  --color-surface-hover: rgb(255 255 255 / 6%);
  --color-surface-active: #ffffff15;

  --color-border: rgb(255 255 255 / 9%);

  --color-primary: #9bd6bd;
  --color-secondary: #f7d2bb;
  --color-tertiary: #c6d6f4;
  --color-fourth: #d9cbf2;
  --color-danger: #e8a9bc;
  --color-danger-surface: #e56e92;

  --color-text-primary: #eceef1;
  --color-text-secondary: #9aa0aa;

  --color-button-text: #13241e;

  --color-score-great: #8ed8b8;
  --color-score-good: #4b8fe1;
  --color-score-could-do-more: #e7aa72;
  --color-score-needs-work: #e58b9f;
}
